[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples.git
	branch = humble
[submodule "src/QADT"]
	path = src/QADT
	url = https://github.com/Queens-Aerospace/test_drone.git
	branch = main
[submodule "src/drone_workspace"]
	path = src/drone_workspace
	url = https://github.com/Queens-Aerospace/ros2_drone_workspace.git
	branch = main
[submodule "src/plane_workspace"]
	path = src/plane_workspace
	url = https://github.com/Queens-Aerospace/ros2_plane_workspace.git
	branch = main
